In [1]:
import nltk
!pip install textsearch
!pip install contractions
nltk.download('punkt')
nltk.download('stopwords')

Requirement already satisfied: textsearch in d:\anaconda\lib\site-packages (0.0.24)
Requirement already satisfied: anyascii in d:\anaconda\lib\site-packages (from textsearch) (0.3.2)
Requirement already satisfied: pyahocorasick in d:\anaconda\lib\site-packages (from textsearch) (2.1.0)
Requirement already satisfied: contractions in d:\anaconda\lib\site-packages (0.1.73)
Requirement already satisfied: textsearch>=0.0.21 in d:\anaconda\lib\site-packages (from contractions) (0.0.24)
Requirement already satisfied: anyascii in d:\anaconda\lib\site-packages (from textsearch>=0.0.21->contractions) (0.3.2)
Requirement already satisfied: pyahocorasick in d:\anaconda\lib\site-packages (from textsearch>=0.0.21->contractions) (2.1.0)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\pramu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\pramu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
import pathlib
pathlib.Path().resolve()

WindowsPath('C:/Users/pramu/Tugas-4-STKI')

In [3]:
import pandas as pd

df = pd.read_csv('D:/Semester5/STKI/tmdb_5000_movies.csv.gz', compression='gzip') #membaca file CSV (dalam format terkompresi gzip)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [4]:
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
df = df[['title', 'tagline', 'overview', 'popularity']]
df.tagline.fillna('', inplace=True)
df['description'] = df['tagline'].map(str) + ' ' + df['overview']
df.dropna(inplace=True)
df = df.sort_values(by=['popularity'], ascending=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4800 entries, 546 to 4553
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        4800 non-null   object
 1   tagline      4800 non-null   object
 2   overview     4800 non-null   object
 3   popularity   4800 non-null   float64
 4   description  4800 non-null   object
dtypes: float64(1), object(4)
memory usage: 225.0+ KB

In [6]:
df.head()

,title,tagline,overview,popularity,description
546,Minions,"Before Gru, they had a history of bad bosses","Minions Stuart, Kevin and Bob are recruited by...",875.581305,"Before Gru, they had a history of bad bosses M..."
95,Interstellar,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,724.247784,Mankind was born on Earth. It was never meant ...
788,Deadpool,Witness the beginning of a happy ending,Deadpool tells the origin story of former Spec...,514.569956,Witness the beginning of a happy ending Deadpo...
94,Guardians of the Galaxy,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",481.098624,All heroes start somewhere. Light years from E...
127,Mad Max: Fury Road,What a Lovely Day.,An apocalyptic story set in the furthest reach...,434.278564,What a Lovely Day. An apocalyptic story set in...

In [7]:
df.iloc[4799].description

' 1971 post civil rights San Francisco seemed like the perfect place for a black Korean War veteran and his family to realize their dream of economic independence and his own chance to be his a "boss". Charlie Walker would soon find out how naive he was. In a city full of impostors and naysayers, he refused to take "No" for an answer. Until a catastrophic disaster opened a door that had never been open to a black man before. This is a story about what happened when he stepped through that door, with both feet!.'

In [8]:
import nltk
import contractions
import re
import numpy as np

stop_words = nltk.corpus.stopwords.words('english')

def normalize_document(doc):
    # dokumen akan diubah menjadi huruf kecil dan karakter khusus atau spasi akan dihapus
    doc = re.sub(r'[^a-zA-Z0-9\s]', '', doc, re.I|re.A)
    doc = doc.lower()
    doc = doc.strip()
    doc = contractions.fix(doc)
    # dokumen akan dipecah menjadi token (kata-kata)
    tokens = nltk.word_tokenize(doc)
    #filter stopwords out of documentstopword (kata-kata umum yang tidak membawa banyak makna, seperti "dan", "atau", "tetapi") akan dihapus dari dokumen
    filtered_tokens = [token for token in tokens if token not in stop_words]
    # dokumen baru akan dibentuk dari token yang sudah disaring, yaitu yang bukan stopword
    doc = ' '.join(filtered_tokens)
    return doc

normalize_corpus = np.vectorize(normalize_document)

norm_corpus = normalize_corpus(list(df['description']))
len(norm_corpus)

4800

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

tf = TfidfVectorizer(ngram_range=(1, 2), min_df=2)
tfidf_matrix = tf.fit_transform(norm_corpus)
tfidf_matrix.shape

(4800, 20471)

In [10]:
from sklearn.metrics.pairwise import cosine_similarity

doc_sim = cosine_similarity(tfidf_matrix)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

,0,1,2,3,4,5,6,7,8,9,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
0,1.000000,0.000000,0.000000,0.000000,0.006071,0.008067,0.0,0.000000,0.0,0.000000,...,0.018758,0.000000,0.037930,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.009646
1,0.000000,1.000000,0.000000,0.017839,0.007968,0.000000,0.0,0.012501,0.0,0.014840,...,0.000000,0.000000,0.017564,0.0,0.019152,0.000000,0.000000,0.000000,0.000000,0.007963
2,0.000000,0.000000,1.000000,0.000000,0.017178,0.000000,0.0,0.000000,0.0,0.024326,...,0.000000,0.006903,0.005024,0.0,0.012893,0.000000,0.025975,0.000000,0.027126,0.009340
3,0.000000,0.017839,0.000000,1.000000,0.000000,0.022414,0.0,0.000000,0.0,0.037207,...,0.000000,0.060846,0.025039,0.0,0.036237,0.030516,0.022605,0.000000,0.000000,0.000000
4,0.006071,0.007968,0.017178,0.000000,1.000000,0.004673,0.0,0.064581,0.0,0.000000,...,0.022064,0.019662,0.036561,0.0,0.015826,0.000000,0.076033,0.004516,0.043475,0.011465

In [11]:
movies_list = df['title'].values
movies_list, movies_list.shape

(array(['Minions', 'Interstellar', 'Deadpool', ..., 'Penitentiary',
        'Alien Zone', 'America Is Still the Place'], dtype=object),
 (4800,))

In [12]:
movie_idx = np.where(movies_list == 'Minions')[0][0]
movie_idx

0

In [13]:
movie_similarities = doc_sim_df.iloc[movie_idx].values
movie_similarities

array([1.        , 0.        , 0.        , ..., 0.        , 0.        ,
       0.00964646])

In [14]:
similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
similar_movie_idxs

array([ 33,  60, 737, 490, 298], dtype=int64)

In [15]:
similar_movies = movies_list[similar_movie_idxs]
similar_movies

array(['Despicable Me 2', 'Despicable Me',
       'Teenage Mutant Ninja Turtles: Out of the Shadows', 'Superman',
       'Rise of the Guardians'], dtype=object)

In [16]:
def movie_recommender(movie_title, movies=movies_list, doc_sims=doc_sim_df):
    # Menemukan indeks film berdasarkan judul film yang diberikan
    movie_idx = np.where(movies == movie_title)[0][0]
    # Mendapatkan nilai kemiripan (similarity) film tersebut dengan film lainnya dari DataFrame
    movie_similarities = doc_sims.iloc[movie_idx].values
    # Mengurutkan kemiripan film dan mengambil 5 film yang paling mirip
    similar_movie_idxs = np.argsort(-movie_similarities)[1:6]
    # Mengambil 5 film paling mirip berdasarkan indeks yang telah ditemukan
    similar_movies = movies[similar_movie_idxs]
    # Mengembalikan daftar 5 film yang paling mirip
    return similar_movies

In [17]:
popular_movies = ['Minions', 'Interstellar', 'Deadpool', 'Jurassic World', 'Pirates of the Caribbean: The Curse of the Black Pearl',
              'Dawn of the Planet of the Apes', 'The Hunger Games: Mockingjay - Part 1', 'Terminator Genisys', 
              'Captain America: Civil War', 'The Dark Knight', 'The Martian', 'Batman v Superman: Dawn of Justice', 
              'Pulp Fiction', 'The Godfather', 'The Shawshank Redemption', 'The Lord of the Rings: The Fellowship of the Ring',  
              'Harry Potter and the Chamber of Secrets', 'Star Wars', 'The Hobbit: The Battle of the Five Armies',
              'Iron Man']

In [18]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie, movies=movies_list, doc_sims=doc_sim_df))
    print()

Movie: Minions
Top 5 recommended Movies: ['Despicable Me 2' 'Despicable Me'
 'Teenage Mutant Ninja Turtles: Out of the Shadows' 'Superman'
 'Rise of the Guardians']

Movie: Interstellar
Top 5 recommended Movies: ['Gattaca' 'Space Pirate Captain Harlock' 'Space Cowboys'
 'Starship Troopers' 'Final Destination 2']

Movie: Deadpool
Top 5 recommended Movies: ['Silent Trigger' 'Underworld: Evolution' 'Bronson' 'Shaft' 'Don Jon']

Movie: Jurassic World
Top 5 recommended Movies: ['Jurassic Park' 'The Lost World: Jurassic Park'
 "National Lampoon's Vacation" 'The Nut Job' 'Vacation']

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: ["Pirates of the Caribbean: Dead Man's Chest"
 'Pirates of the Caribbean: On Stranger Tides' 'The Pirate'
 'The Pirates! In an Adventure with Scientists!' 'Joyful Noise']

Movie: Dawn of the Planet of the Apes
Top 5 recommended Movies: ['Battle for the Planet of the Apes' 'Groove' 'The Other End of the Line'
 'Chicago Overcoat' 'Definitely, Maybe']

Movie: The Hunger Games: Mockingjay - Part 1
Top 5 recommended Movies: ['The Hunger Games: Catching Fire' 'The Hunger Games: Mockingjay - Part 2'
 'John Carter' 'For Greater Glory - The True Story of Cristiada'
 'The Proposition']

Movie: Terminator Genisys
Top 5 recommended Movies: ['Terminator 2: Judgment Day' 'Terminator Salvation'
 'Terminator 3: Rise of the Machines' 'Mad Max'
 'X-Men: Days of Future Past']

Movie: Captain America: Civil War
Top 5 recommended Movies: ['Captain America: The Winter Soldier' 'This Means War'
 'Avengers: Age of Ultron' 'Iron Man 2' 'Escape from Tomorrow']

Movie: The Dark Knight
Top 5 recommended Movies: ['The Dark Knight Rises' 'Batman Forever' 'Batman Returns'
 'Batman: The Dark Knight Returns, Part 2' 'JFK']

Movie: The Martian
Top 5 recommended Movies: ['The Last Days on Mars' 'Swept Away' 'Alive' 'All Is Lost' 'Red Planet']

Movie: Batman v Superman: Dawn of Justice
Top 5 recommended Movies: ['Batman Returns' 'The Punisher' 'Defendor'
 'Batman: The Dark Knight Returns, Part 2' 'Nowhere to Run']

Movie: Pulp Fiction
Top 5 recommended Movies: ['Sliding Doors' 'You Kill Me' 'New York Stories' 'Timecrimes'
 'All or Nothing']

Movie: The Godfather
Top 5 recommended Movies: ['The Godfather: Part II' 'Blood Ties' 'Made' 'Lords of London'
 'Easy Money']

Movie: The Shawshank Redemption
Top 5 recommended Movies: ['Civil Brand' 'Les MisÃ©rables' 'The Chorus' 'Prison' 'Fortress']

Movie: The Lord of the Rings: The Fellowship of the Ring
Top 5 recommended Movies: ['The Lord of the Rings: The Two Towers'
 'The Hobbit: The Desolation of Smaug'
 'The Lord of the Rings: The Return of the King'
 "What's the Worst That Could Happen?" 'The Hobbit: An Unexpected Journey']

Movie: Harry Potter and the Chamber of Secrets
Top 5 recommended Movies: ['Harry Potter and the Prisoner of Azkaban'
 'Harry Potter and the Goblet of Fire'
 'Harry Potter and the Order of the Phoenix'
 'Harry Potter and the Half-Blood Prince'
 "Harry Potter and the Philosopher's Stone"]

Movie: Star Wars
Top 5 recommended Movies: ['The Empire Strikes Back' 'Return of the Jedi' 'Shrek the Third'
 'The Ice Pirates' 'The Tale of Despereaux']

Movie: The Hobbit: The Battle of the Five Armies
Top 5 recommended Movies: ['The Hobbit: The Desolation of Smaug' 'The Hobbit: An Unexpected Journey'
 "Dragon Nest: Warriors' Dawn"
 'A Funny Thing Happened on the Way to the Forum' 'X-Men: Apocalypse']

Movie: Iron Man
Top 5 recommended Movies: ['Iron Man 2' 'Avengers: Age of Ultron' 'Hostage' 'Iron Man 3'
 'Baahubali: The Beginning']

In [19]:
# FastText dari pustaka Gensim untuk membuat representasi kata (word embeddings) berdasarkan korpus teks yang sudah ditokenisasi
from gensim.models import FastText

tokenized_docs = [doc.split() for doc in norm_corpus]
ft_model = FastText(tokenized_docs, window=30, min_count=2, workers=4, sg=1)

In [20]:
def averaged_word2vec_vectorizer(corpus, model, num_features):
    vocabulary = set(model.wv.index_to_key)
    
    def average_word_vectors(words, model, vocabulary, num_features):
        feature_vector = np.zeros((num_features,), dtype="float64")
        nwords = 0.
        
        for word in words:
            if word in vocabulary: 
                nwords = nwords + 1.
                feature_vector = np.add(feature_vector, model.wv[word])
        if nwords:
            feature_vector = np.divide(feature_vector, nwords)

        return feature_vector

    features = [average_word_vectors(tokenized_sentence, model, vocabulary, num_features)
                    for tokenized_sentence in corpus]
    return np.array(features)

In [21]:
doc_vecs_ft = averaged_word2vec_vectorizer(tokenized_docs, ft_model, 100)
doc_vecs_ft.shape

(4800, 100)

In [22]:
doc_sim = cosine_similarity(doc_vecs_ft)
doc_sim_df = pd.DataFrame(doc_sim)
doc_sim_df.head()

,0,1,2,3,4,5,6,7,8,9,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
0,1.000000,0.918239,0.963876,0.953509,0.963514,0.954178,0.983028,0.939047,0.970804,0.958319,...,0.971751,0.942171,0.983242,0.908810,0.908487,0.960149,0.974376,0.971127,0.954926,0.980783
1,0.918239,1.000000,0.964050,0.955287,0.963241,0.962083,0.934461,0.987111,0.948082,0.942834,...,0.887092,0.865138,0.929606,0.823107,0.832447,0.877910,0.879999,0.881113,0.878825,0.934635
2,0.963876,0.964050,1.000000,0.980861,0.983223,0.969251,0.968180,0.982497,0.986099,0.950574,...,0.940793,0.917917,0.949917,0.832274,0.886966,0.911562,0.955906,0.953321,0.932869,0.972827
3,0.953509,0.955287,0.980861,1.000000,0.981074,0.968901,0.969523,0.965112,0.972280,0.925714,...,0.950669,0.925885,0.944954,0.808999,0.898616,0.906555,0.956639,0.944800,0.936952,0.967753
4,0.963514,0.963241,0.983223,0.981074,1.000000,0.961034,0.972888,0.976665,0.980177,0.933758,...,0.957350,0.931682,0.959463,0.830500,0.912039,0.905074,0.963975,0.942308,0.954655,0.984341

In [23]:
for movie in popular_movies:
    print('Movie:', movie)
    print('Top 5 recommended Movies:', movie_recommender(movie_title=movie, movies=movies_list, doc_sims=doc_sim_df))
    print()

Movie: Minions
Top 5 recommended Movies: ['Heroes of Dirt' 'The Fan' 'The Pursuit of D.B. Cooper'
 'Quigley Down Under' 'Unleashed']

Movie: Interstellar
Top 5 recommended Movies: ['The Inhabited Island' 'Sea Rex 3D: Journey to a Prehistoric World'
 'Gattaca' 'The Hadza:  Last of the First' '2001: A Space Odyssey']

Movie: Deadpool
Top 5 recommended Movies: ['The Girl with the Dragon Tattoo' 'Stake Land' 'Iron Man 3'
 'The Happening' 'The Manchurian Candidate']

Movie: Jurassic World
Top 5 recommended Movies: ['Short Cut to Nirvana: Kumbh Mela' '8: The Mormon Proposition' 'Samsara'
 'Jurassic Park' 'Ice Age: The Meltdown']

Movie: Pirates of the Caribbean: The Curse of the Black Pearl
Top 5 recommended Movies: ['Tycoon' 'Dylan Dog: Dead of Night' 'The Collection'
 'Where the Wild Things Are' 'Shanghai Surprise']

Movie: Dawn of the Planet of the Apes
Top 5 recommended Movies: ['Mutant World' 'Doomsday' 'Day of the Dead' 'The Last Emperor'
 'Super Mario Bros.']

Movie: The Hunger Games: Mockingjay - Part 1
Top 5 recommended Movies: ['Maggie' 'Dances with Wolves' 'The Scorpion King' 'Amistad' 'Gladiator']

Movie: Terminator Genisys
Top 5 recommended Movies: ['Pacific Rim' 'The Last Emperor' 'Battleship'
 'Transformers: Dark of the Moon' 'The Andromeda Strain']

Movie: Captain America: Civil War
Top 5 recommended Movies: ['The Bridge on the River Kwai' 'A Bridge Too Far' '55 Days at Peking'
 'The Longest Day' 'The Train']

Movie: The Dark Knight
Top 5 recommended Movies: ['The Raid' 'Die Hard 2' 'The Marine 4: Moving Target' 'Saw IV'
 'The International']

Movie: The Martian
Top 5 recommended Movies: ['Star Trek IV: The Voyage Home' 'Supernova'
 'Anacondas: The Hunt for the Blood Orchid' 'Pitch Black' 'The Host']

Movie: Batman v Superman: Dawn of Justice
Top 5 recommended Movies: ['The Shadow' 'Iron Man 3' 'The Lord of the Rings: The Return of the King'
 'Sgt. Bilko' 'Star Trek Into Darkness']

Movie: Pulp Fiction
Top 5 recommended Movies: ['Get on the Bus' 'Free Birds' 'The Incredibles' 'The Internship'
 'Harold & Kumar Escape from Guantanamo Bay']

Movie: The Godfather
Top 5 recommended Movies: ['Eastern Promises' 'Eye for an Eye' 'Butterfly' 'The Last Godfather'
 'Welcome to Mooseport']

Movie: The Shawshank Redemption
Top 5 recommended Movies: ['The Client' 'Welcome to Mooseport' 'Enter the Void' 'Sleepers'
 'Diamond Ruff']

Movie: The Lord of the Rings: The Fellowship of the Ring
Top 5 recommended Movies: ['The Legend of Drunken Master' 'Jurassic Park III' 'Godzilla 2000'
 'Friday the 13th Part VII: The New Blood' 'Star Trek']

Movie: Harry Potter and the Chamber of Secrets
Top 5 recommended Movies: ['The Fourth Kind' 'The Last Days on Mars' 'Whiteout' 'The Happening'
 'The Relic']

Movie: Star Wars
Top 5 recommended Movies: ['Gods of Egypt' 'Iron Man' 'Beastmaster 2: Through the Portal of Time'
 'Highlander: The Final Dimension' 'Beowulf']

Movie: The Hobbit: The Battle of the Five Armies
Top 5 recommended Movies: ['Pacific Rim' 'Free State of Jones' 'Exodus: Gods and Kings' 'Freedom'
 'Master and Commander: The Far Side of the World']

Movie: Iron Man
Top 5 recommended Movies: ['Star Wars' 'Return of the Jedi' 'Highlander: The Final Dimension'
 'Star Wars: Episode III - Revenge of the Sith' 'The Empire Strikes Back']